
<div class="mainViewContainer" id="inspiration">

	<div class="headlineImage">
		<div class="headlineContainer">
			<div class="headline"><span ng-bind-html='headline | newline'></span></div>
			<div class="subheadline"><span class="line">&mdash;&mdash;&mdash;&mdash;</span>{{subHeadline}}<span class="line">&mdash;&mdash;&mdash;&mdash;</span></div>
		</div>
	</div>
	<div class="bodyCopy">
		<div class="row-fluid">
			<div class="span12 centeredHome">
				<h2>Your Personal Taste</h2>
				We all have different tastes, expectations and experiences when it comes to wine. Next Glass uses your ratings and preferences to pick a glass matched to your taste, no snobbery attached.
At Next Glass, you’re free to love any wine from sweet to dry, expensive to budget bottles, what you like is what you like. We don’t judge. We just give you a great glass of wine. <a href="#" class="link">Find out more about Next Glass</a><br><br><br>
			<p><img src="assets/images/icons-flow.png" class="inspira"/></p>
			</div>
		</div>
		
	</div>
</div>
