
<div class="mainViewContainer" id="inspiration">

	<div class="headlineImage">
		<div class="headlineContainer">
			<div class="headline"><span ng-bind-html='headline | newline'></span></div>
			<div class="subheadline"><span class="line">&mdash;&mdash;&mdash;&mdash;</span>{{subHeadline}}<span class="line">&mdash;&mdash;&mdash;&mdash;</span></div>
		</div>
	</div>
	<div class="bodyCopy">
		<div class="row-fluid">
			<div class="span4">
				<h3>Headline 1</h3>
				<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. </p>
			</div>
			<div class="span4">
				<h3>Headline 2</h3>
				<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. </p>
			</div>
			<div class="span4">
				<h3>Headline 3</h3>
				<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. </p>
			</div>
		</div>
		
	</div>
</div>
