<div class="mainViewContainer introContainer" id="intro">
    <div class="row-fluid">
            <div class="span12">
                <div class="headlineContainer introHeadlineContainer">
                    <img class="introHomeImage" src="assets/images/white-logo.png" >
                    <div class="introHeadline"><p>DISCOVER YOUR NEXT GREAT GLASS OF WINE</p></div>
	                <div class="hr"></div>
                    <div class="playButton" ng-click="showVideo()">
                        <p><span class="watchFilmCopy">Watch the Next Glass Video</span></p>
                        <p><div class="playIcon"></div></p> 
                        <br style="clear:both;" />
                    </div>
                </div>

                
            </div>
    </div>
</div>
<br style="clear:both;" />