
<div class="mainViewContainer" xmlns="http://www.w3.org/1999/html">
	<div class="headlineImage">
        <div class="headlineContainer">
		<div class="headline"><span ng-bind-html='headline | newline'></span></div>
		<div class="subheadline"><span class="line">--------</span>{{subHeadline}}<span class="line">--------</span></div>
        </div>
	</div>
	
	<div class="bodyCopy">
		<div class="row-fluid">
			<div class="span6 centeredHome left"><h2>{{column2}}</h2>For starters, it’s the world’s only wine DNA database. Right now, we have data on 25,000 + bottles and that number grows every week.<br><br>Through a patent pending and scientifically proven process, we’re able to catalogue the makeup of each wine, eliminating the flowery, subjective and differing opinions of wine experts and categorizing each wine by its true makeup. But that’s just one step in the wine DNA extraction process.<br><br><a class="link" href='#'>Discover How Next Glass Works</a></div>
			<div class="span6">
				<div class="homeExplanation">	
				<h4 style="text">TO FULLY DETERMINE A WINE'S DNA, WE STUDY</h4>
				<p>Hundreds of chemical compounds found in the wine</p>
					<p>The heritage of the grape or grapes used<br>
					The bottle size, shape and color<br>
					The stopper type<br>
					The label image<br>
					The price</p>

				<p>Once we’ve determined the DNA, the wine goes into the Wine Genome Cellar where our software connects it and you.</p>
				</div>
			</div>
			
		</div>
		<!--<p><span ng-bind-html='copy | newline'></span></p>-->
	</div>

	
</div>



