
<div class="mainViewContainer" xmlns="http://www.w3.org/1999/html">
	<div class="headlineImage">
        <div class="headlineContainer">
		<div class="headline"><span ng-bind-html='headline | newline'></span></div>
		<div class="subheadline"><span class="line">--------</span>{{subHeadline}}<span class="line">---------</span></div>
        </div>
	</div>
	<div class="bodyCopy">
		<div class="row-fluid">
			<div class="span6">{{column1}}</span></div>
			<div class="span6">{{column2}}</span></div>
		</div>
		<!--<p><span ng-bind-html='copy | newline'></span></p>-->
	</div>
	<a href="/#/project/1">
		<!--<div class="experimentFeature experimentFeatureLarge filmFestival">-->
		<div class="experimentFeature experimentFeatureLarge filmFestival">
			<div class="experimentFeatureTop experimentFeatureTopLarge filmFestival">
				<p><span class="featureHeadline">FILMMAKING<br/>FOR THE WEB</span></p>
				<p><span class="featureCopy">An Experiment in Filmmaking for the web</span></p></div>
			<div class="experimentFeatureBottom"><p>watch the trailer &raquo;</p></div>
			<!--<div class="experimentFeatureBottom"><p>COMING SOON</p></div>-->
			<div class="experimentImage">

			</div>
		</div>
	</a>
</div>
