
<div class="mainViewContainer">
	<div class="headlineImage">
        <div class="headlineContainer">
		<div class="headline"><span ng-bind-html='headline | newline'></span></div>
		<div class="subheadline"><span class="line">---------</span>{{subHeadline}}<span class="line">---------</span></div>
	</div>
    </div>
	<div class="bodyCopy">
		<div class="row-fluid">
			<div class="span6">{{column1}}</span></div>
			<div class="span6">{{column2}}</span></div>
		</div>
        <div class="comingSoon"><p>Experiment in the Making</p><p class="subscribeButton" ng-click="showSubscribe()">SUBSCRIBE FOR UPDATES</p></div>

    </div>
</div>
