<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="span2 offset1">
        <ul>
          <li class="nav-footer"><a href="what-is-next-glass.html">What is Next Glass?</a></li>
          <li><a href="what-is-next-glass.html#wing-2">For Consumers</a></li>
          <li><a href="what-is-next-glass.html#wing-3">For Restaurants &amp; Merchants</a></li>
          <li><a href="what-is-next-glass.html#wing-4">For Vineyards</a></li>
        </ul>
      </div>
      <div class="span2">
        <ul>
          <li class="nav-footer"><a href="how-it-works.html">How it Works</a></li>
          <li><a href="how-it-works.html">The Science</a></li>
          <li><a href="how-it-works.html">The Technology</a></li>
          <li><a href="how-it-works.html#hiw-2">The Next Glass API</a></li>
        </ul>
      </div>
      <div class="span2">
        <ul>
          <li class="nav-footer"><a href="who-we-are.html">Who We Are</a></li>
          <li><a href="who-we-are.html#who-1">Our Mission</a></li>
          <li><a href="who-we-are.html#who-2">Our Partners</a></li>
        </ul>
      </div>
      <div class="span2">
        <ul>
          <li class="nav-footer"><a href="careers.html">Careers</a></li>
          <li><a href="careers.html#careers-1">Why Next Glass?</a></li>
          <li><a href="careers.html#careers-2">Positions</a></li>
          <li><a href="careers.html#careers-3">Apply</a></li>
          
        </ul>
      </div>
      <div class="span3">
        <ul>
          <li class="nav-footer"><a href="/contact">Contact</a></li>
          <li>
            <address>
              <a target="_BLANK" href="http://goo.gl/maps/LT12N" <strong="">Next Glass, Inc.<br>
             6779 Gordon Rd<br>
			Wilmington, NC 28411</a><br>
              <a href="tel:+19106168539">+1 (910) 616-8539</a><br>
             
            </address>
         <!--
          </li><li><a href="#">Legal Notice</a></li>
          <li><a href="#">Privacy Policy</a></li><br>
        -->
          <li>&copy; 2013 Next Glass, Inc.</li>
        </ul>
      </div>
    </div>
  </div>
</footer>